<div class="card" style="width: 18rem;">
    <div class="card-img-top col-4"><%= image_tag @book.image.url %></div>
    <div class="card-body">
        <h1><%= @book.title %></h1>
        <h1><%= @book.description %></h1>
    </div>
</div>