<h1>Dettagli del libro</h1>
<div class="card" style="width: 18rem;">
    <div class="card-img-top col-4"><%= image_tag @book.image.url %></div>
    <div class="card-body">
        <h1><%= @book.title %></h1>
        <p><%= @book.description %></p><br>
        <p>Per avere questo libro contatta il numero seguente: 3925354303 </p>
    </div>
</div>