<h1>Benvenuto in YOUSTUD</h1>

<p>Per continuare registrati o accedi!</p>

<%= link_to "Accedi", new_user_session_path, class: "btn btn-success" %> |
<%= link_to "Registrati", new_user_registration_path, class: "btn btn-success" %>